<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/png" href="./images/logo_shiba_swap.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="./images/logo_shiba_swap.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="./images/logo_shiba_swap.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="./images/logo_shiba_swap.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#ff007a" />
  <meta name="fortmatic-site-verification" content="j93LgcVZk79qcgyo" />
  <link rel="manifest" href="./manifest.json" />
  <title>HOME | ShibaSwap</title>
  <link href="./static/css/4.67493d11.chunk.css" rel="stylesheet" />
  <link href="./static/css/main.c8aaa8e5.chunk.css" rel="stylesheet" />
  <link href="./static/css/incor.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
  <style data-styled="" data-styled-version="4.4.1"></style>
  <meta name="description" content="" data-react-helmet="true" />
</head>

<body>